@import "tailwindcss";

:root {
    --bg-color: #0A192F;
    --card-bg: #112240;
    --primary: #0077B6;
    --secondary: #00A8E8;
    --text-primary: #E5E9F0;
    --text-muted: #A8B2D1;
    --accent: #48CAE4;
    --success: #2ECC71;
    --border-color: #1C2B42;
  }

  .bg2{
    background-color: var(--bg-color);
  }

  /* Navbar */
.navbar {
    background-color: var(--bg-color);
    color: var(--text-primary);
}

.logo:hover, .navLink:hover {
    color: var(--text-muted);
}

.searchBar{
    background: #a8b2d14e;
}

.Button{
    cursor: pointer;
}

.Button:hover{
    background-color: #a8b2d134;
}

/* Modal */

.modal{
    background-color: var(--bg-color);
}

.listItem{
    cursor: pointer;
}

.listItem:hover{
    background-color: var(--border-color);
}

/* Footer */

.socials a:hover{
    color: var(--text-muted);
}